/*
 *  Common styling
 */

// Default variables
$shadow-1: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26) !default;
$shadow-2: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2) !default;
$shadow-3: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24) !default;
$shadow-4: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22) !default;
$shadow-5: 0 40px 77px 0 rgba(0, 0, 0, 0.22), 0 27px 24px 0 rgba(0, 0, 0, 0.2) !default;

// Styling...

body {
  font-family: "Roboto";
  margin: 0px;
  background-color: $grey800;
  color: $white
}

.container {
  padding: {
    left: 30px;
    right: 30px;
  }
}