/*
 * comicvine-api element
 */

// Default variables
// $blue: blue !default;

// Styling...

search-engine::shadow comicvine-api::shadow {
  ul {
    padding: 0;
    position: relative;
    li {
      list-style: none;
      background: $white;
      min-height: 100%;
      color: $grey900;
      border-radius: 2px;
      min-width: 30%;
      box-shadow: $shadow-1;
      transition: box-shadow 0.2s ease-in-out;
      padding: 20px;
      margin: {
        bottom: 20px;
        left: 10px;
        right: 10px;
      }
      &:hover {
        box-shadow: $shadow-2;
      }
      img {
        float: left;
        margin-right: 15px;
      }
      p {
        margin: 0;
      }
      h2 {
        margin: {
          top: 0;
          bottom: 5px;
        };
      }
    }
  }
}
